PORT=3000

DB_HOST=localhost
DB_PORT=55432
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_SCHEMA=public

REDIS_HOST=localhost
REDIS_PORT=56379
REDIS_DB=0
REDIS_PASSWORD=
NOTIFICATION_WORKER_CONCURRENCY=5

FCM_ENABLED=false
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
